{% load static %}
<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>

    <link href="{% static 'index.css' %}" rel="stylesheet" type="text/css">
  </head>
  <body style="font-family: 'Amaranth', sans-serif; background-color: #ffbac4;">

    <h1 class='heading' style="text-align: center; padding-top: 100px">Summarizer</h1>

    <form action="summarize" method='post'>
      {% csrf_token %}
     <textarea type="text" name="txt" class='txtBox' placeholder="Paste yor text here" style="width:50%;  box-sizing: border-box; padding: 50px 20px; margin-left:370px; margin-top: 50px; margin-bottom: 60px;"></textarea><br>
      <input type="submit" class='btn' style="margin-left:650px; border-radius:0.5rem; padding-left: 1rem; padding-right: 1rem; padding-top: 0.5rem; padding-bottom: 0.5rem; font-weight: bolder;">
      <!--<p id='txtBox'>{{result}} </p>-->
      </form>


  </body>
</html>
